.Landing {
  text-align: center;
}

.App-logo {
  height: 30vmin;
  pointer-events: none;
  position: absolute;
  left: 0px;
  top: 0px;

}


.Landing-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


